%h1 Listing Lore Page

%table
  %thead
    %tr
      %th Position
      %th Name
      %th Slug
      %th
      %th
      %th

  %tbody
    - @lore_pages.order('position ASC').each do |lore_page|
      %tr
        %td= lore_page.position
        %td= lore_page.name
        %td= lore_page.slug
        %td= link_to 'Show', admin_lore_page_path(lore_page)
        %td= link_to 'Edit', edit_admin_lore_page_path(lore_page)
        %td= link_to 'Destroy', admin_lore_page_path(lore_page), method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Lore page', new_admin_lore_page_path
