%p#notice= notice

%p
  %b Name:
  = @lore_page.name
%p
  %b Slug:
  = @lore_page.slug
%p
  %b Body:
  = @lore_page.body
%p
  %b Position:
  = @lore_page.position

= link_to 'Edit', edit_lore_page_path(@lore_page)
\|
= link_to 'Back', lore_pages_path
