%h1 Wolfgang Wallace Music

- @distrokid_releases.each do |release|
  .release
    .release-artwork
      = image_tag "releases/#{release['image']}"
    .release-description
      .release-title
        %h3= release['name']
      .release-date
        Release Date:
        = release['date']
      .release-links
        = link_to 'Spotify', release['links']['spotify'], target: '_blank'
        = link_to 'Bandcamp', release['links']['bandcamp'], target: '_blank'
        = link_to 'Other', release['links']['other'], target: '_blank'
